<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Доска</title>
        <link rel="stylesheet" href="css/board.css" />
    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
        <canvas id="board"> </canvas>
        <div class="bbuttons">
            <div class="bbutton" id="eraseAll" onclick="eraseAll()">Стереть всё</div>
            <div class="bbutton" onclick="window.history.go(-1); return false;">Назад</div>
        </div>
        <script src="scripts/board.js"></script>
    </body>
</html>
