<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Главная</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/navbar.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body class="body">
        <div class="pag">
            <div class="heed"></div>

            <div class="sec">
                <%- include('partials/menu') %>

                <div class="row row-cols-1 row-cols-md-3 g-4 align-items-stretch">
                    <a href="algebra">
                        <div class="col" id="algebra">
                            <div class="card vh-40">
                                <img
                                    src="https://i.pinimg.com/564x/f2/46/4b/f2464bc64cd8033fe13c586198511e2c.jpg"
                                    class="card-img-top"
                                    alt="..."
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Алгебра</h5>
                                    <p class="card-text">
                                        Раздел математики, занимающийся символами и правилами
                                        обращения с этими символами. В элементарной алгебре эти
                                        символы (сегодня пишутся латинскими и греческими буквами)
                                        представляют величины без фиксированных значений, известные
                                        как переменные. Точно так же, как предложения описывают
                                        отношения между конкретными словами, в алгебре уравнения
                                        описывают отношения между переменными
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Пройти тест</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="geometria">
                        <div class="col" id="geometria">
                            <div class="card">
                                <img
                                    src="https://i.pinimg.com/236x/95/34/d5/9534d56a83d2872b8e42f8de15890823.jpg"
                                    class="card-img-top"
                                    alt="..."
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Геометрия</h5>
                                    <p class="card-text">
                                        Раздел математики, изучающий пространственные отношения и их
                                        обобщения. В геометрии можно условно выделить следующие
                                        разделы: Элементарная геометрия — геометрия точек, прямых и
                                        плоскостей, а также фигур на плоскости и тел в пространстве.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Пройти тест</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="literatyra">
                        <div class="col" id="literatyra">
                            <div class="card">
                                <img
                                    src="https://i.pinimg.com/474x/7d/6c/be/7d6cbef76f330b879d040cb9486ab98c.jpg"
                                    class="card-img-top"
                                    alt="..."
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Литература</h5>
                                    <p class="card-text">
                                        Cловом «литература» обозначают совокупность всех
                                        произведений человеческого творчества, в которых отразилась
                                        история человечества.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Пройти тест</small>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="fixed-bottom">
                        Cделано при помощи учителя по информатике Красновид Н.М.
                    </div>
                </div>
            </div>

            <div class="ki"></div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
