.button{
    background-color: rgb(255, 120, 9);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(251, 83, 11);
    color: rgb(255, 224, 199);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(219, 243, 255);
    margin: 0px 100px;
    padding: 0px 50px;
}